div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
}
input {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 1rem;
}

.button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(235, 13, 13);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

#requestTable {
    width: 100%;
    display: table;
 
}

li{
    list-style-type: none;
}


